.jumbotron {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #000000;
}

.hijab {
  padding-top: 2rem;
}

.gelombang{
  padding-top: 2rem;
}

.hm {
  background-color: #000000;
  padding-bottom: 1rem;
}

.ok {
  background-color: #000000;
  padding-top: 1rem;
  
}

.j {
  padding-top: 6rem;
}
